<div class="login-page">
    <h1>Game Up</h1>
    <h2>LOGIN</h2>
  
   <form action="/auth/login" method="POST">
  
     <div class="user-input-field">
        <label for="username">Username:</label>
        <input type="text" name="username">
      </div>
      <div class="user-input-field">>
        <label for="password">Password:</label>
        <input type="password" name="password">
      </div>
  
  
  
  
     <div id="login-button">
        <input id="login" type="submit" value="Login">
      </div>
      <p>
        <a href="/auth/signup">Sign up here</a> to create an account.</p>
    </form>
  
  </div>