<div class="login-page">
        <h1>Game Up</h1>
        <h2>SIGN UP</h2>
    
       <form action="/auth/signup" method="POST">
            <div class="user-input-field">
                <label for="username">Username:</label>
                <input type="text" name="username">
            </div>
            <div class="user-input-field">
                <label for="password">Password:</label>
                <input type="password" name="password">
            </div>
            <div id="login-button">
                <input id="login" type="submit" value="Signup">
            </div>
    
           <p>
                <a href="/auth/login">Login here</a> if you have an account.</p>
        </form>
    </div>
