<div class="container">
<div class="header">
    <div id="profile-button">
        <a href="/users/profile/<%= user._id %>">Profile</a>
    </div>
    <div id="create-game-button">
        <a href="/new">Create a game</a>
    </div>
</div>
<div id="map"></div>
</div>

<script 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe1EOMCU_S7p8fuPO5HQxCp6BDgDde-H0&libraries=places">
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>