<div class="container">
        <div class="header">
            <h1>Game Up</h1>
        </div>
        <div id="map"></div>
        <div class="footer">
            <div id="my-events-button">
                <a href="/users/profile/<%= user._id %>">My Events</a>
            </div>
            <div id="create-game-button">
                <a href="/new">Create</a>
            </div>
        </div>
    </div>
    

<script 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe1EOMCU_S7p8fuPO5HQxCp6BDgDde-H0&libraries=places">
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
    <script> var userId = <%- JSON.stringify(user._id)%> </script>
<script type="text/javascript" src="javascripts/main.js"></script>