<div id="map"></div>

<script 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe1EOMCU_S7p8fuPO5HQxCp6BDgDde-H0">
</script>
<script type="text/javascript" src="javascripts/main.js"></script>