<h1>Welcome, <%= user.username%></h1>

<h2>Upcoming Games</h2>

<div id="upcomingGames">
    <h3>Games Joined</h3>
    <% if (upcomingGames.length) { %>
        <ul>
          <% for (let ix = 0; ix < upcomingGames.length; ix++) { %>
            <li><%= upcomingGames[ix].name %></li>
          <% } %>
        </ul>
        <% } %>
</div>

<div id="gamesCreated">
    <h3>Games Created</h3>
    <% if (gamesCreated.length) { %>
        <ul>
          <% for (let ix = 0; ix < gamesCreated.length; ix++) { %>
            <li><%= gamesCreated[ix].name %></li>
          <% } %>
        </ul>
        <% } %>
</div>

<a href="/">Go Back</a>

</div>