body {
  height: 100%;
  margin: 0;
  margin-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 5vw;
}

html {
  height: 100%;
  margin: 0;
}

input {
  font-size: 3vw;
}

select {
  font-size: 3vw;
}

input[type=submit] {
  font-size: 3vw;
}

h1 {
  font-size: 10vw;
}

h2 {
  font-size: 8vw;
}

h3 {
  font-size: 6vw;
}

p {
  font-size: 5vw;
}

a {
  color: #00b7ff;
}

.container {
  position: relative;
  margin: 0px;
  height: 100%;
}

.game-preview {
  padding: 20px 20px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

#search-map {
  margin-top: 5vw;
  width: 700px;
  height: 500px;
}

.header {
  height: 6vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  padding: 60px;
  z-index: 2;
  position: relative;
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 60px;
  z-index: 2;
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;

}

#create-game-button a {
  font-size: 5vw;
  background-color: black;
  padding: 2vw;
  color: white;
}

#profile-button a {
  font-size: 5vw;
  background-color: black;
  padding: 2vw;
  color: white;
}


@media (min-width: 668px) {
  #create-game-button a {
    font-size: 40px;
  }
  
  #profile-button a {
    font-size: 40px;
  }
}